.card-contactos, .card {
  background-color: #ffffff;
  color: #000000;
  border-radius: 15px;
  padding: 1.5rem;
  text-align: center;
  width: 250px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  position: relative;
}

.footer-principal,
.footer-productos,
.footer-contactos,
.footer-sobreNosotros,
.footer-sucursales {
  background-color: #3f3d3d;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.main-principal {
  background-image: url("../img/logoBackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 8rem 2rem 4rem 2rem;
  position: relative;
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titulo-principal {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.parrafo-principal {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.logo-nav {
  width: 100px;
  height: auto;
}

.container-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  justify-items: center;
}

.main-productos {
  padding: 3rem 2rem;
  background-color: rgba(112, 107, 107, 0.2117647059);
  font-family: "Segoe UI", sans-serif;
}

.titulo-productos {
  font-size: 2.6rem;
  text-align: center;
  color: #1a1a1a;
  margin-bottom: 2.5rem;
  font-weight: bold;
}

.card {
  transition: all 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.imagen-ropa {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 200px;
  margin-bottom: 1rem;
}

.boton-primario {
  background-color: #3f3d3d;
  color: #ffffff;
  border: solid 1px rgba(14, 0, 0, 0.925);
  border-radius: 10px;
  transition: all 0.3s ease;
}

.boton-primario:hover {
  background-color: #f0ebeb;
  color: #000000;
  border: solid 1px rgba(14, 0, 0, 0.925);
  border-radius: 10px;
  transition: all 0.3s ease;
}

.main-contactos {
  background-image: url("../img/logoBackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 6rem 2rem 8rem 2rem;
  position: relative;
  text-align: center;
  color: #ffffff;
}

.titulo-contactos {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  position: relative;
}

.parrafo-contactos {
  font-size: 1.3rem;
  margin-bottom: 3rem;
  position: relative;
}

.container-contactos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  position: relative;
  margin-bottom: 4rem;
}

.imagen-redes {
  max-height: 100px;
  width: auto;
  margin-bottom: 1rem;
}

.main-sobreNosotros {
  background-image: url("../img/logoBackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 6rem 2rem 8rem 2rem;
  position: relative;
  text-align: center;
  color: #ffffff;
}

.container-sobreNosotros {
  padding: 6rem 2rem;
  text-align: center;
  color: #ffffff;
}

.imagen-empleado {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 200px;
  margin-bottom: 1rem;
}

.cards-equipo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0.5rem;
  justify-items: center;
}

.main-sucursales {
  background-image: url("../img/logoBackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 6rem 2rem 8rem 2rem;
  position: relative;
  text-align: center;
  color: #ffffff;
}

.titulo-sucursales {
  font-size: 2.5rem;
  margin-bottom: 5rem;
  padding: 5px 2px;
  text-align: center;
  color: #ffffff;
}

.cards-sucursales {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  justify-items: center;
  margin-bottom: 3rem;
}

.card-sucursal {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  max-width: 300px;
  color: #000000;
}

.imagen-sucursal {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 200px;
  margin-bottom: 1rem;
}

/*# sourceMappingURL=style.css.map */
